---
import { Divider, Entry, Link, Pagination } from "@/components";
import type { CollectionName, Meta } from "@/content.config";
import { LayoutDefault } from "@/layout";
import { getPagination, type Entries } from "@/lib/collections";

interface Props {
    collection: CollectionName;
    entries: Entries;
    page: number;
    entriesPerPage: number;
    isIndex: boolean;
    meta: Meta;
}

const { entries, page, isIndex, meta, collection } = Astro.props;

const { currentPage, paginatedEntries, totalPages } = getPagination({
    isIndex,
    entries,
    page,
    entriesPerPage: meta.entriesPerPage,
});

---

<LayoutDefault {...meta} type="main">
    <h1 class="capitalize">{collection}</h1>
    <p class="text-muted">
        {meta.description}
    </p>
    <Divider/>
    <div class="flex flex-col h-full">
        <ul class="flex-1">
            {
                paginatedEntries.map((entry, i) => (
                    <li class="list-none">
                        <Link
                            href={`/${entry.collection}/${entry.id}`}
                            className="space-y-1 group"
                        >
                            <Entry entry={entry} />
                            {i < paginatedEntries.length - 1 && <Divider />}
                        </Link>
                    </li>
                ))
            }
        </ul>
        <Pagination
            {currentPage}
            {totalPages}
            prevUrl={`/${collection}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
            nextUrl={`/${collection}/${currentPage + 1}/`}
        />
    </div>
</LayoutDefault>
