---
import { Link } from "@/components/atoms";
import { CheckIcon, WarningIcon, BookOpenIcon } from "@/components/icons";
import type { serieInfo } from "@/lib/series";

interface Props {
  series: serieInfo[];
}

const { series } = Astro.props;
const sortedSeries = [...series].sort((a, b) => a.title.localeCompare(b.title));
---

{
  series.length === 0 ? (
    <p class="text-muted py-4 text-center">No hay elementos para mostrar.</p>
  ) : (
    <ul class="space-y-6 pt-4">
      {sortedSeries.map((s) => {
        const isComplete =
          s.missingParts && s.missingParts.ranges
            ? s.missingParts.ranges.length === 0
            : true;

        const missingCount =
          s.missingParts && s.missingParts.ranges
            ? s.missingParts.ranges.join(", ")
            : "";

        return (
          <li class="list-none">
            <Link href={`/series/${s.id}`} className="group border-divider rounded-md border px-4 py-3.5 block">
              <h2 class="group-hover:text-link mb-2 text-lg leading-normal">
                {s.title}
              </h2>

              <div class="mb-3 flex flex-wrap items-center gap-3 text-sm">
                <span class="flex gap-1">
                  <BookOpenIcon />
                  {s.entries.length}{" "}
                  {s.entries.length === 1 ? "parte" : "partes"}
                </span>

                {isComplete ? (
                  <span class="text-info flex gap-1">
                    <CheckIcon />
                    Completa
                  </span>
                ) : (
                  <span class="text-warning group-hover:text-link flex gap-1">
                    <WarningIcon />
                    Faltan partes: {missingCount}
                  </span>
                )}
              </div>

              {s.entries[0]?.data.description && (
                <p class="text-muted m-0 line-clamp-2 text-sm">
                  {s.entries[0].data.description}
                </p>
              )}
            </Link>
          </li>
        );
      })}
    </ul>
  )
}
