---
interface Props {
  n: number;
  className?: string;
  id?: string;
}
const { n, className, id } = Astro.props;
---

{
  n === 1 && (
    <h1 class={className} {id}>
      <slot />
    </h1>
  )
}
{
  n === 2 && (
    <h2 class={className} {id}>
      <slot />
    </h2>
  )
}
{
  n === 3 && (
    <h3 class={className} {id}>
      <slot />
    </h3>
  )
}
{
  n === 4 && (
    <h4 class={className} {id}>
      <slot />
    </h4>
  )
}
{
  n === 5 && (
    <h5 class={className} {id}>
      <slot />
    </h5>
  )
}
{
  n >= 6 && (
    <h6 class={className} {id}>
      <slot />
    </h6>
  )
}
