---
import { Image as ImageAstro } from "astro:assets";
import { PlaceholderIcon } from "@/components";
interface Props {
  className?: string;
  src?: string;
  alt?: string;
  width?: number;
  height?: number;
  loading?: "eager" | "lazy";
}

const {
  className = "w-full h-auto object-cover aspect-square",
  src,
  alt = "caption",
  width = 46,
  height = 46,
  loading = "lazy",
} = Astro.props;
---

{
  src ? (
    <ImageAstro
      src={src}
      alt={alt}
      class={className}
      width={width}
      height={height}
      loading={loading}
    />
  ) : (
    <div class={`${className} bg-muted/5 flex items-center justify-center`}>
      <PlaceholderIcon className="size-5 text-muted" />
    </div>
  )
}
