---
import DocLayout from "@/layouts/document.astro";
import Container from "@/components/container.astro";

import { getFormatDate, getReadingTime, unSlugify } from "@/lib/utils";
import { baseLongDateOptions } from "@/consts";
import { getSiblings, type Entry } from "@/lib/collections";
import ListIcon from "@/components/icons/list-icon.astro";
import Tag from "@/components/tag.astro";

type Props = Entry;
const props = Astro.props as Props;

const { data, render, body, slug, collection } = props;
const { date, description, tags, title } = data;
const { all, guide } = await getSiblings(props);

const parsedDate = getFormatDate(date, "es-ES", baseLongDateOptions);
const dateSimple = getFormatDate(date);
const readingTime = getReadingTime(body);
const { Content } = await render();
---

<DocLayout {title} {description}>
  <Container className="relative">
    <section>
      <header class="mb-5 space-y-5">
        <h1>{title}</h1>
        <p class="text-muted">
          <time datetime={dateSimple}>{parsedDate}</time>
          {readingTime > 1 && <span>·</span>}
          {readingTime > 1 && <span> {readingTime} min de lectura</span>}
        </p>
        {
          tags.length > 0 && (
            <ul class="flex flex-wrap gap-1">
              {tags.map((tag, i) => {
                return (
                  <li class="flex">
                    <Tag href={`/tags/${tag}`}> {tag.replace(/-/g, " ")}</Tag>
                    {i !== tags.length - 1 && <span class="text-muted">,</span>}
                  </li>
                );
              })}
            </ul>
          )
        }
      </header>
      <article class="py-5">
        <Content />
      </article>
    </section>
    {
      guide && (
        <section class="">
          <h2 class="text-muted !m-0 !mb-4 !text-base flex items-center gap-1">
            Colección - {unSlugify(guide.name)} <ListIcon className="mt-[0.1rem] size-4" />
          </h2>

          <ol class="m-0 rounded-md p-4 bg-background-50 dark:bg-background-100">
            {all?.map((step) => (
              <li class="my-0 mx-4 !text-base">
                <a href={step.slug} class={`${step.slug === `/${collection}/${slug}` ? "text-content-300 font-medium" : "text-muted"}`}>
                  {step.title}
                </a>
              </li>
            ))}
          </ol>
        </section>
      )
    }
  </Container>
</DocLayout>
