---
import { getCollectionsByYear, type Entry } from "@/lib/collections";
import { getFormatDate } from "@/lib/utils";

interface Props {
  entries: Array<Entry>;
}

const { entries } = Astro.props;

const parsedEntriesByYear = getCollectionsByYear(entries);
---

{
  Object.entries(parsedEntriesByYear)
    //if is nan put first
    .sort(([yearA], [yearB]) => {
      const yearANum = parseInt(yearA);
      const yearBNum = parseInt(yearB);
      if (isNaN(yearANum) && isNaN(yearBNum)) return 0;
      if (isNaN(yearANum)) return -1;
      if (isNaN(yearBNum)) return 1;
      return yearBNum - yearANum;
    })
    .map(([year, entries]) => {
      return (
        <section class="">
          <h2 class="mb-2 text-xl font-semibold m-0">
            {isNaN(parseInt(year)) ? "Sin fecha" : year}
          </h2>
          <ul class="list-none m-0 space-y-2">
            {entries.map(({ collection, id, data: { date, title, index } }) => {
              return (
                <li class="flex list-none items-center gap-3">
                  <a
                    class="flex items-baseline gap-2"
                    href={`/${collection}` + (index ? "" : `/${id}`)}
                  >
                    {date && (
                      <time
                        class="text-muted min-w-20 text-sm whitespace-nowrap"
                        datetime={getFormatDate(date)}
                      >
                        {getFormatDate(date, "es-ES", {
                          year: "numeric",
                          month: "2-digit",
                        })
                          .split("/")
                          .reverse()
                          .join(" · ")}
                      </time>
                    )}

                    <u class="line-clamp-1">{title}</u>
                  </a>
                  <a
                    href={`/${collection}`}
                    class="text-muted hover:text-link inline text-sm whitespace-nowrap italic"
                  >
                    {collection}
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      );
    })
}
