---
import { Divider, EntriesListYear, Pagination } from "@/components";
import type { Meta } from "@/content.config";
import { LayoutDefault } from "@/layout";
import { getPagination, type Entries } from "@/lib/collections";

interface Props {
  entries: Entries;
  page: number;
  entriesPerPage: number;
  isIndex: boolean;
  meta: Meta;
}

const { entries, page, entriesPerPage, isIndex, meta } = Astro.props;

const { currentPage, paginatedEntries, totalPages } = getPagination({
  isIndex,
  entries,
  page,
  entriesPerPage,
});
---

<LayoutDefault {...meta} type="main">
  <h1>Archivo</h1>
  <p class="text-muted">
    {meta.description} Hay un total de {entries.length} entradas publicadas
  </p>
  <Divider/>
  
      <EntriesListYear entries={paginatedEntries} />
    </div>

    <Pagination
      {currentPage}
      {totalPages}
      prevUrl={`/archive${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
      nextUrl={`/archive/${currentPage + 1}/`}
    />
  
</LayoutDefault>
