---
import {
  Container,
  Divider,
  ExternalLinkIcon,
  Link,
  Pagination,
} from "@/components";
import { LayoutDefault } from "@/layout";
import { getPagination } from "@/lib/collections";

import type { Meta } from "@/content.config";
import { site } from "@/constants";
import type { CachedBookmarkData } from "@/lib/raindrop";
import Image from "astro/components/Image.astro";

interface Props {
  entries: CachedBookmarkData[];
  collection: string;
  page: number;
  entriesPerPage: number;
  isIndex: boolean;
  meta: Meta;
}

const { entries, page, entriesPerPage, isIndex, meta, collection } =
  Astro.props;

const { currentPage, paginatedEntries, totalPages } = getPagination({
  isIndex,
  entries: entries.sort(
    (a, b) => a.title.localeCompare(b.title)
  ),
  page,
  entriesPerPage,
});
---

<LayoutDefault {...meta} type="article">
  <h1>
    {site.pages.bookmarks.title} · <span>{ collection.replaceAll(/[.-]/g, " ")}</span>
  </h1>
  <p class="text-muted/90">
    La coleccion <span class="font-medium text-muted">{collection.replaceAll(/[.-]/g, " ")}</span> contiene <span class="font-medium text-muted">{entries.length}</span> elementos.
  </p>
  <Divider />

  {
    entries.length === 0 ? (
      <p class="text-center text-muted">No hay elementos para mostrar.</p>
    ) : (
      <ul class="grid grid-cols-1 gap-4">
        {paginatedEntries?.map((item) => {
          return (
            <li class="list-none space-y-0.5 w-full">
              <Link href={item.link} blank={true} className="group">
                <div class="flex gap-2 sm:gap-4">
                  <div class="max-w-8 max-h-8 size-full border border-divider rounded-full overflow-hidden flex-shrink-0 sm:max-w-12 sm:max-h-12">
                    <Image
                      src={item.cover}
                      alt={item.title}
                      class="w-full h-auto object-cover aspect-square"
                      loading="lazy"
                      width={46}
                      height={46}
                    />
                  </div>
                  <div>
                    <div class="space-y-0.5">
                      <h2 class=" text-lg leading-tight group-hover:text-link w-full flex items-center gap-1">
                        <span class="line-clamp-1">{item.title}</span>
          
                        <ExternalLinkIcon className="inline-flex max-w-5 size-full" />
                      </h2>
                      {item.excerpt && (
                        <p class="text-sm text-muted line-clamp-2 leading-normal mb-1.5">
                          {item.excerpt}
                        </p>
                      )}
                    </div>
                    {item.tags && (
                      <div class="space-x-1.5">
                        {item.tags.map((tag: string) => (
                          <span class="group-hover:!text-content text-xs bg-divider px-1.5 py-0.5 rounded-full">
                            {tag}
                          </span>
                        ))}
                      </div>
                    )}
                  </div>
                </div>
              </Link>
            </li>
          );
        })}
      </ul>
    )
  }
  <Container className="!p-0">
    <Pagination
      {currentPage}
      {totalPages}
      prevUrl={`/bookmarks/${collection}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
      nextUrl={`/bookmarks/${collection}/${currentPage + 1}/`}
    />
  </Container>
</LayoutDefault>
